.line {
  height: 1px;
}
.container {
  width: 80vw;
  max-width: 80vw;
  font-family: "Inter", sans-serif;
  font-size: 22px;
}
.heading {
  font-family: "Inter", sans-serif;
}
.paragraph {
  font-family: "Poppins", sans-serif;
}
