.line{
    height: 1px;
}
.container{
    width: 80vw;
    max-width: 80vw;
    font-family: 'Inter', sans-serif;
    font-size: 22px
}
.heading{
    color:#ffffff;
    font-family:'Inter', sans-serif;
}
.paragraph{
    color:#ffffff;
    font-family:'Poppins', sans-serif;

}


