.containerSelf {
  background-color: #3f51b5;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  max-width: 600px;
  word-wrap: break-word;
}

.buttonSelf{
    word-wrap: break-word;
}

.selfWidth{
    width: 500px;
}
