table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.style-1 {
  max-width: 750px;
}
.style-2 {
  width: 25px;
}

.style-3 {
  font-family: "Times New Roman", Times, serif;
}

@media print {
  table tr {
    page-break-before: always;
  } /* page-break-after works, as well */
}
